/** Layout **/
.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  width: 100%;

  main {
    flex: 1 0 auto;

    .container {
      padding: 0 1rem;
    }
    .container-post {
      padding: 0 1rem;
      min-height: 100vh;
      @include border-radius(0 0 .5rem .5rem);
      background-color: $global-background-card-color;
      [theme=dark] & {
        background-color: $global-background-card-color-dark;
      }
    }
  }
}
