.categories-card {
  margin: 0 auto;
  display: flex;
  align-items: flex-start;
  justify-content: space-around;
  flex-direction: row;
  flex-wrap: wrap;
  line-height: 1.6rem;

  .card-item {
    font-size: .875rem;
    text-align: left;
    width: 49%;
    display: flex;
    margin-top: 1rem;
    min-height: 16rem;
    padding: 0 2%;
    position: relative;
    background-color: $global-background-card-color;
    @include box-shadow(0 2px 4px -1px rgba(0, 0, 0, 0.2));
    @include border-radius(.5rem);
    [theme=dark] & {
      background-color: $global-background-card-color-dark;
    }

    .card-item-wrapper {
      width: 100%;
      overflow: hidden;
      text-align: center;

      .card-item-title {
        font-size: 1.2rem;
        font-weight: bold;
        margin-top: 1rem;
        padding-bottom: .75rem;
        border-bottom: 2px solid $global-border-color;
        [theme=dark] & {
          border-color: $global-border-color-dark;
        }
      }

      span {
        float: right;
        padding-right: 1rem;
      }
    }
  }
}

.categories-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
  margin: .25rem 0 .25rem 1.5rem;
}

.categories-item-link {
  min-width: 10%;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;

  &:hover {
    color: $global-link-hover-color;
    background-color: transparent;
  }

  [theme=dark] & {
    color: $global-link-color-dark;

    &:hover {
      color: $global-link-hover-color-dark;
    }
  }
}

.archive-item {
  align-items: center;
  margin-left: 1.5rem;
}

.archive-item-link {
  min-width: 10%;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;

  &:hover {
    color: $global-link-hover-color;
    background-color: transparent;
  }

  [theme=dark] & {
    color: $global-link-color-dark;

    &:hover {
      color: $global-link-hover-color-dark;
    }
  }
}

.archive-item-date {
  font-size: .875rem;
  text-align: left;
  color: $global-font-secondary-color;

  [theme=dark] & {
    color: $global-font-secondary-color-dark;
  }
}

.archive-timeline {
  position: relative;
  overflow: hidden;
  &::before {
    content: '';
    display: inline-block;
    position: absolute;
    top: 0;
    left: 5px;
    background: $global-font-secondary-color;
    width: 2px;
    height: 100%;
    z-index: 1;
    [theme=dark] & {
      background: $global-font-secondary-color-dark;
    }
  }
}

.archive-circle {
  margin: 10px 0;
  &::before {
    content: '';
    background: $global-font-secondary-color;
    display: inline-block;
    position: absolute;
    top: 42.5%;
    border: 2px solid $global-background-color;
    border-radius: 50%;
    width: .75rem;
    height: .75rem;
    z-index: 2;
    [theme=dark] & {
      background: $global-font-secondary-color-dark;
      border-color: $global-background-color-dark;
    }
  }
}

.more-post {
  text-align: right;
}
