.mermaid {
  width: 100%;
  margin: 3% auto;
  text-align: center;
  padding: 1rem;

  background-color: $global-background-card-color;

  [theme=dark] & {
    background-color: $global-background-card-color-dark;
  }

  & > svg {
    max-width: 100%;
  }

  div.mermaidTooltip {
    z-index: 50;
  }
}
