{{- define "title" -}}
    {{- .Title }} - {{ T .Data.Singular | default .Data.Singular }} - {{ .Site.Title -}}
{{- end -}}

{{- define "content" -}}
    <div class="page archive archive-compact">
        {{- /* Title */ -}}
        <h2 class="single-title animated fadeInDown faster">
            {{- $taxonomy := .Data.Singular -}}
            {{- if eq $taxonomy "category" -}}
                {{ .Title }}
            {{- else if eq $taxonomy "tag" -}}
                {{ .Title }}
            {{- else -}}
                {{- printf "%v - %v" (T $taxonomy | default $taxonomy) .Title -}}
            {{- end -}}
        </h2>

        {{- /* Paginate */ -}}
        {{- if .Pages -}}
            {{- $pages := .Pages.GroupByDate "2006" -}}
            {{- with .Site.Params.list.paginate | default .Site.Params.paginate -}}
                {{- $pages = $.Paginate $pages . -}}
            {{- else -}}
                {{- $pages = .Paginate $pages -}}
            {{- end -}}
            {{- range $pages.PageGroups -}}
                <h3 class="group-title">{{ .Key }}</h3>
                {{- range .Pages -}}
                <div class="timeline">
                    <div class="circle">
                        {{- $image := "" -}}
                        {{- with .Params.featuredimagepreview | default .Params.featuredImagePreview -}}
                            {{- $image = . | relURL -}}
                        {{- else -}}
                            {{- with .Resources.GetMatch "featured-image-preview" -}}
                                {{- $image = (.Fill "68x68 Center q100 Lanczos").RelPermalink -}}
                            {{- else -}}
                                {{- range .Params.resources -}}
                                    {{- if eq .name "featured-image-preview" -}}{{- $image = .src | relURL -}}{{- end -}}
                                {{- end -}}
                            {{- end -}}
                        {{- end -}}
                        {{- if not $image -}}
                            {{- with .Params.featuredimage | default .Params.featuredImage -}}
                                {{- $image = . | relURL -}}
                            {{- else -}}
                                {{- with .Resources.GetMatch "featured-image" -}}
                                    {{- $image = (.Fill "68x68 Center q100 Lanczos").RelPermalink -}}
                                {{- else -}}
                                    {{- range .Params.resources -}}
                                        {{- if eq .name "featured-image" -}}{{- $image = .src | relURL -}}{{- end -}}
                                    {{- end -}}
                                {{- end -}}
                            {{- end -}}
                        {{- end -}}
                        <a href="{{ .RelPermalink }}" class="item-link-wrapper">
                            <div class="item-with-image">
                                {{- if $image -}}
                                    <div class="item-image">
                                        {{- dict "Src" $image "Title" .Title "Loading" "lazy" | partial "plugin/image.html" -}}
                                    </div>
                                {{- else -}}
                                    <div class="item-image-placeholder">
                                        <i class="fa-solid fa-newspaper"></i>
                                    </div>
                                {{- end -}}
                                <div class="item-content">
                                    <div class="item-title">
                                        {{- .Title -}}
                                    </div>
                                    <div class="item">
                                        <span class="item-date">
                                            Published&nbsp;on&nbsp;{{- $.Site.Params.list.dateFormat | default "January 2" | .Date.Format -}}
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
                {{- end -}}
            {{- end -}}
            {{- partial "paginator.html" . -}}
        {{- end -}}
    </div>
{{- end -}}
