{{- $ig := .Site.Params.oembed.Instagram -}}
{{- $appId := .Site.Params.oembed.Instagram.AppId -}}
{{- $clientToken := .Site.Params.oembed.Instagram.ClientToken -}}
{{- if not $ig.privacy -}}
{{- $id := .Get 0 -}}
{{- $item := getJSON "https://graph.facebook.com/v10.0/instagram_oembed/?url=https://instagram.com/p/" $id "/&amp;maxwidth=640&amp;omitscript=true" "&access_token=" $appId "|" $clientToken -}}
{{- $class1 := "__h_instagram" -}}
{{- $class2 := "s_instagram_simple" -}}
{{ with $item }}
{{- $mediaURL := printf "https://instagram.com/p/%s/" $id | safeURL -}}
{{ template "__h_simple_instagram_css" $ }}
<div class="{{ $class1 }} {{ $class2 }} card" style="max-width: {{ $item.thumbnail_width }}px">
    <div class="card-header">
        <a href="{{ $item.author_url | safeURL }}" class="card-link">{{ $item.author_name }}</a>
    </div>
    <a href="{{ $mediaURL }}" rel="noopener" target="_blank"><img class="card-img-top img-fluid" src="{{ $item.thumbnail_url }}" width="{{ $item.thumbnail_width }}"  height="{{ $item.thumbnail_height }}" alt="Instagram Image"></a>
    <div class="card-body">
        <a href="{{ $item.author_url | safeURL }}" class="card-link">View More on Instagram</a>
    </div>
</div>
{{ end }}
{{- end -}}
