{{- $ig := .Site.Params.oembed.instagram -}}
{{- $appId := .Site.Params.oembed.instagram.appId -}}
{{- $clientToken := .Site.Params.oembed.instagram.clientToken -}}
{{- if not $ig.privacy -}}
{{ $type := .Get 0 }}
{{ $id := .Get 1 }}
{{ $hideCaption := cond (eq (.Get 2) "hidecaption") "1" "0" }}
{{ with getJSON "https://graph.facebook.com/v10.0/instagram_oembed/?url=https://instagram.com/" $type "/" $id "/&hidecaption=" $hideCaption "&access_token=" $appId "|" $clientToken }}{{ .html | safeHTML }}{{ end }}
{{- end -}}
